<section class="bg-[#bfd8bd] py-16 sm:py-28" id="about">
  <div class="container mx-auto px-6 lg:px-20 flex flex-col-reverse lg:flex-row items-center">
    <!-- Left: Profile Image -->
    <div class="w-full lg:w-1/3 flex justify-center mt-8 lg:mt-0" data-aos="flip-left"data-aos-easing="ease-out-cubic" data-aos-duration="2000">
      <img src="img/about.jpg" alt="About Me" class="w-72 h-72 rounded-xl shadow-lg">
    </div>

    <!-- Right: About Content -->
    <div class="w-full lg:w-2/3 text-[#2d3b2f] text-lg sm:text-xl"  data-aos="zoom-in-right" data-aos-duration="2000" >
      <h2 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold mb-6 text-[#2d3b2f] drop-shadow-lg">About Me</h2>
      
      <p class="leading-relaxed text-[#2d3b2f] text-shadow-md">
        I'm <span class="font-bold">Abdallah Ahmed</span>, a dedicated and detail-oriented 
        <span class="font-bold">Front-End Developer</span> specializing in 
        <span class="font-bold">Angular</span>. I hold a 
        <span class="font-bold">Bachelor’s degree in Computer Engineering</span> from 
        <span class="font-bold">Al-Azhar University (2023)</span>. My expertise lies in crafting 
        <span class="font-bold">modern, interactive, and user-centric</span> web applications using 
        <span class="font-bold">Angular, TypeScript, JavaScript (ES6+), HTML5, CSS3</span>, and 
        <span class="font-bold">Angular Material</span>.
      </p>
      
      <p class="mt-6 text-[#2d3b2f] text-shadow-md">
        With a strong foundation in <span class="font-bold">problem-solving, data structures, and algorithms</span>, 
        I am committed to writing <span class="italic">clean, efficient, and scalable</span> code. 
        I have successfully delivered projects such as 
        <span class="font-bold">e-commerce platforms, examination management systems</span>, and 
        <span class="font-bold">online app stores</span>. These projects feature 
        <span class="font-bold">authentication, responsive design, advanced search functionalities</span>, and 
        <span class="font-bold">role-based access control</span>, ensuring a seamless user experience.
      </p>
    </div>
  </div>
</section>