<header class="text-white bg-header py-4 shadow-md w-full z-10">
    <nav class="container mx-auto flex justify-center space-x-10 animate-fade-in">
      <a
        href="#home"
        class="relative group text-lg font-medium transition-colors duration-300 text-white hover:text-accent"
      >
        Home
        <span
          class="absolute left-0 bottom-0 h-[2px] w-0 bg-accent transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a
        href="#about"
        class="relative group text-lg font-medium transition-colors duration-300 text-white hover:text-accent"
      >
        About
        <span
          class="absolute left-0 bottom-0 h-[2px] w-0 bg-accent transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a
        href="#projects"
        class="relative group text-lg font-medium transition-colors duration-300 text-white hover:text-accent"
      >
        Projects
        <span
          class="absolute left-0 bottom-0 h-[2px] w-0 bg-accent transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a
        href="#contact"
        class="relative group text-lg font-medium transition-colors duration-300 text-white hover:text-accent"
      >
        Contact
        <span
          class="absolute left-0 bottom-0 h-[2px] w-0 bg-accent transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
    </nav>
  </header>
  