<section class="bg-[#5b7553] text-white py-12" id="projects">
    <div class="container mx-auto px-2">
      <h2 class="text-4xl font-bold text-center mb-8 pb-12">Projects <span class="text-[#c3e8bd]">💻</span></h2>
      
      <div class="flex flex-wrap justify-center gap-20">
        <div *ngFor="let project of projects" class="bg-[#99ba93] rounded-lg shadow-lg overflow-hidden w-full md:w-1/2 lg:w-2/5 transform transition-all duration-300 hover:scale-105">
          <div class="relative w-full h-52">
            <img [src]="project.image" alt="{{ project.name }}" class="w-full h-full  rounded-lg">
          </div>
          <div class="mt-4 p-6">
            <h3 class="text-2xl font-semibold text-[#c3e8bd]">{{ project.name }}</h3>
            <p class="text-sm mt-2">{{ project.description }}</p>
            <a [href]="project.live" target="_blank" 
            class="inline-flex items-center mt-4 text-[#FFFFFF] bg-[#5b7553] px-4 py-2 mr-6 rounded-md hover:bg-[#c3e8bd] hover:text-[#5b7553] transition-colors">
            Live <i class="fas fa-eye ml-2"></i>
         </a>
         
         <a [href]="project.link" target="_blank" 
            class="inline-flex items-center mt-4 text-[#FFFFFF] bg-[#5b7553] px-4 py-2 rounded-md hover:bg-[#c3e8bd] hover:text-[#5b7553] transition-colors">
            Repo <i class="fab fa-github ml-2"></i> 
         </a>
          </div>
        </div>
      </div>
    </div>
  </section>