<!-- Skills Section -->
<section id="skills" class="py-16 bg-gray-100">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold text-[#5b7553] p-6 mb-12">My Skills</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 mx-[7%] lg:grid-cols-4 gap-8">
        <!-- Skill Items -->
        <div
        class="bg-[#c3e8bd] rounded-lg p-6 shadow-lg"
        data-aos="fade-up"
      >
        <h3 class="text-lg font-bold text-[#5b7553]">HTML5</h3>
      </div>
      <div
        class="bg-[#87a681] rounded-lg p-6 shadow-lg"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <h3 class="text-lg font-bold text-[#FFFFFF]">CSS3</h3>
      </div>
      <div
        class="bg-[#5b7553] rounded-lg p-6 shadow-lg"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3 class="text-lg font-bold text-[#FFFFFF]">Bootstrap</h3>
      </div>
      <div
        class="bg-[#FFFFFF] rounded-lg p-6 shadow-lg"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <h3 class="text-lg font-bold text-[#5b7553]">TailwindCSS</h3>
      </div>
      <div
        class="bg-[#c3e8bd] rounded-lg p-6 shadow-lg"
        data-aos="fade-up"
        data-aos-delay="400"
      >
      <h3 class="text-lg font-bold text-[#5b7553]">JavaScript</h3>
  
    </div>
    <div
      class="bg-[#87a681] rounded-lg px-4 py-6 shadow-lg"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <h3 class="text-lg font-bold text-[#FFFFFF]">Data structures and Algorithms</h3>
    </div>
    <div
      class="bg-[#5b7553] rounded-lg px-5 py-6 shadow-lg"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <h3 class="text-lg font-bold text-[#FFFFFF]">Object-oriented programming
      </h3>
    </div>
    <div
      class="bg-[#FFFFFF] rounded-lg p-6 shadow-lg"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <h3 class="text-lg font-bold text-[#5b7553]">Problem Solving</h3>
    </div>
  <div
  class="bg-[#c3e8bd] rounded-lg p-6 shadow-lg"
  data-aos="fade-up"
  >
  <h3 class="text-lg font-bold text-[#5b7553]">Angular</h3>
  </div>
  <div
  class="bg-[#87a681] rounded-lg p-6 shadow-lg"
  data-aos="fade-up"
  data-aos-delay="100"
  >
  <h3 class="text-lg font-bold text-[#FFFFFF]">Angular Material</h3>
  </div>
  <div
  class="bg-[#5b7553] rounded-lg p-6 shadow-lg"
  data-aos="fade-up"
  data-aos-delay="200"
  >
  <h3 class="text-lg font-bold text-[#FFFFFF]">TypeScript</h3>
  </div>
  <div
  class="bg-[#FFFFFF] rounded-lg p-6 shadow-lg"
  data-aos="fade-up"
  data-aos-delay="300"
  >
  <h3 class="text-lg font-bold text-[#5b7553]">Git & Github</h3>
  </div>
      </div>
    </div>
    <div class="p-12"></div>
  </section>
  