@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html { 
  scroll-behavior: smooth; /* Smooth scrolling */
}
body {
  background-color: transparent; /* Makes background see-through */
  /* OR */
  background-color: #212121; /* Light gray example - replace with your desired color */;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}
app-root {
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #212121;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
}
